# SQL 的五十道練習

> 建立更新與刪除資料表

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 在每份練習題的開始，都會先將四個學習資料庫載入環境。
- 因此 SQL 可以指定四個學習資料庫中的資料表，不需要額外指定資料庫。
- 在 SQL 語法起點與 SQL 語法終點這兩個單行註解之間撰寫能夠得到預期結果的 SQL。
- 可以先在自己電腦的 SQLiteStudio 或者 DBeaver 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選上方選單的 Kernel -> Restart & Run All -> Restart and Run All Cells。
- 可以每寫一題就執行測試，也可以全部寫完再執行測試。
- 練習題閒置超過 10 分鐘會自動斷線，這時只要重新點選練習題連結即可重新啟動。

In [20]:
import sqlite3
import unittest
import json
import os
import numpy as np
import pandas as pd
conn = sqlite3.connect('../databases/test.db')

## 43. 在已經建立且連線好的 `test` 資料庫新增一個資料表名為 `favorite_players`，具有三個欄位 `name`、`years_pro`、`ppg`，資料類型分別是文字（`TEXT`）、整數（`INTEGER`）與浮點數（`REAL`），參考下列的預期輸出。

- 預期輸入：SQL 語法。
- 預期輸出：(0, 3) 的資料表 `favorite_players`。

```sql
SELECT *
  FROM favorite_players;
```

```
name	years_pro	ppg
```

In [24]:
create_table_favorite_players_in_test =\
"""
-- SQL 語法起點
CREATE TABLE favorite_players(
        name TEXT,
        years_pro INTEGER,
        ppg REAL
)
-- SQL 語法終點
"""

## 44. 承接上題，在 `test` 資料庫的 `favorite_players` 資料表中新增五筆觀測值，參考下列的預期輸出。

- 預期輸入：SQL 語法。
- 預期輸出：(5, 3) 的資料表 `favorite_players`。

```sql
SELECT * 
  FROM favorite_players;
```

```
              name  years_pro   ppg
0       Steve Nash         19  14.3
1   Michael Jordan         14  30.1
2      Paul Pierce         19  19.7
3    Kevin Garnett         21  17.8
4  Hakeem Olajuwon         18  21.8
```

In [26]:
insert_table_favorite_players_in_test =\
"""
-- SQL 語法起點
INSERT INTO favorite_players
VALUES ('Steve Nash', 19, 14.3),
       ('Michael Jordan', 14, 30.1),
       ('Paul Pierce', 19, 19.7),
       ('Kevin Garnett', 21, 17.8),
       ('Hakeem Olajuwon', 18, 21.8)
-- SQL 語法終點
"""

## 45. 承接上題，在 `test` 資料庫的 `favorite_players` 資料表將第五位球員 Hakeem Olajuwon 替換成 Tim Duncan，參考下列的預期輸出。

- 預期輸入：SQL 語法。
- 預期輸出：(5, 3) 的虛擬資料表 `favorite_players`。

```sql
SELECT *
  FROM favorite_players;
```

```
             name  years_pro   ppg
0      Steve Nash         19  14.3
1  Michael Jordan         14  30.1
2     Paul Pierce         19  19.7
3   Kevin Garnett         21  17.8
4      Tim Duncan         19  19.0
```

In [4]:
update_table_favorite_players_in_test =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 執行測試！

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [27]:
class TestCUD(unittest.TestCase):
    def test_43_create_table_favorite_players_in_test(self):
        table_name = "favorite_players"
        drop_table_if_exists = """DROP TABLE IF EXISTS {}""".format(table_name)
        conn.execute(drop_table_if_exists)
        conn.execute(create_table_favorite_players_in_test)
        select_all_query = """SELECT * FROM {};""".format(table_name)
        table_select_all = pd.read_sql(select_all_query, conn)
        self.assertEqual(table_select_all.shape, (0, 3))
    def test_44_insert_table_favorite_players_in_test(self):
        table_name = "favorite_players"
        drop_table_if_exists = """DROP TABLE IF EXISTS {}""".format(table_name)
        conn.execute(drop_table_if_exists)
        conn.execute(create_table_favorite_players_in_test)
        conn.execute(insert_table_favorite_players_in_test)
        select_all_query = """SELECT * FROM {};""".format(table_name)
        table_select_all = pd.read_sql(select_all_query, conn)
        self.assertEqual(table_select_all.shape, (5, 3))
    def test_45_update_table_favorite_players_in_test(self):
        table_name = "favorite_players"
        drop_table_if_exists = """DROP TABLE IF EXISTS {}""".format(table_name)
        conn.execute(drop_table_if_exists)
        conn.execute(create_table_favorite_players_in_test)
        conn.execute(insert_table_favorite_players_in_test)
        conn.execute(update_table_favorite_players_in_test)
        select_all_query = """SELECT * FROM {};""".format(table_name)
        table_select_all = pd.read_sql(select_all_query, conn)
        players = set(table_select_all.iloc[:, 0].values)
        self.assertEqual(table_select_all.shape, (5, 3))
        self.assertTrue('Tim Duncan' in players)

suite = unittest.TestLoader().loadTestsFromTestCase(TestCUD)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
cwd = os.getcwd()
folder_name = cwd.split("/")[-1]
with open("../exercise_index.json", "r") as content:
    exercise_index = json.load(content)
chapter_name = exercise_index[folder_name]

test_43_create_table_favorite_players_in_test (__main__.TestCUD) ... ok
test_44_insert_table_favorite_players_in_test (__main__.TestCUD) ... ok
test_45_update_table_favorite_players_in_test (__main__.TestCUD) ... ERROR

======================================================================
ERROR: test_45_update_table_favorite_players_in_test (__main__.TestCUD)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-27-34cf380c801e>", line 25, in test_45_update_table_favorite_players_in_test
    conn.execute(update_table_favorite_players_in_test)
NameError: name 'update_table_favorite_players_in_test' is not defined

----------------------------------------------------------------------
Ran 3 tests in 1.179s

FAILED (errors=1)

UnicodeDecodeError: 'cp950' codec can't decode byte 0x9e in position 27: illegal multibyte sequence

In [6]:
print("您在「{}」章節中的 {} 道 SQL 練習答對了 {} 題。".format(chapter_name, number_of_test_runs, number_of_successes))

您在「建立更新與刪除資料表」章節中的 3 道 SQL 練習答對了 0 題。